body{
    background-image: url("./bilder/The_Blue_Marble_\(remastered\).jpg");
    background-repeat: no-repeat
    background-color:black
    background-position: -500px 0;
}
h1 {
    color:white;
    font-size: 100px;
    font-family: Helvetica, sans-serif;
    width: 500px;
margin-left: 100px;
}