/* Enkel CSS-reset */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
   box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
padding: 0;
}
.wanderer{
    background: black;
}
.wanderer .vimeo{
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
}
.wanderer .vimeo iframe{
width: 100vw;
height: 56.25vw;
min-width: 230vh;
min-height: 100vh;
position: absolute;
top: 50%;
left: 50%;
transform: tr;


}
.container{
width: 800px;
margin: 0 auto;
}
.container header{

}
.container header h1{

}
.container header nav{

}
