@import url('https://fonts.googleapis.com/
css2?family=Roboto:ital,wght@0,100;0,300;0,
400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1
,700;1,900&display=swap');
</style>
body{
background-image: url("/bilder/R.jpg");
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
}
h1{
    font-family: "Roboto", sans-serif;
    font-size: 100px;
    color: aqua;
    text-transform: uppercase;
    text-shadow: 5px 3px 0 pink;
    margin-top: 100px;
    margin-left: 100px;
}


h2{
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    color: aqua;
    margin-top: 75px;
    margin-left: 100px;
}
p{
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 150px;
    margin-left: 700px;
}
a{
    color: white ;
text-decoration: none;
background-color: hotpink;
padding-left: 50px;
padding-top: 10px;
padding-right: 50px;
padding-bottom: 10px;
border-radius: 5px;
border: 2px solid white;
}