body {
    background-image: url(./bilder/image-24.jpg);
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-size: 50px;
    color: white;
    margin-left: 100px;
}

p {
    color: white;
    font-style: italic;
    background-color: brown;
    width: 500px;
    padding: 20px;
    margin-left: 100px;
    border-radius: 5px;
    text-shadow: 1px 0px 1;
}


img {
    margin-left: 100 px;
    width: 100px;
}